@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green:#3d5cc8;
    --dark-color:#293e88;
    /* --purble:#3d5cc8; */
    --black:#d2d0d0;
    --light-color:#ffffff;
    --border:0.1rem solid rgba(255,255,255,0.5);
    --border-hover:0.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(255,255,255,1);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;

}

body{
    background-color: #0c1011;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding : 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(255, 255, 255, 0.4);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: 0.5rem 2rem;
    color: var(--black);
    background-color: #0c1011;
    border: var(--border);
}

.header .header-1{
    background: #0c1011;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i{
    color: var(--green);
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--green);
}

#search-btn{
    display: none;
}

.header-2{
    background-color: var(--green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background-color: var(--dark-color);
}

.btn{
    margin-top: 1.5rem;
    display: inline;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background-color: var(--dark-color);
}

/* .home{
    background: url(../img/bannar-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
} */

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
    

}

.home .row .books-slider{
    flex: 1 1 42rem;
}

.home .row .books-slider a img{
    height: 25rem;
    width: 15rem;
}

.home .row .books-slider a:hover img{
    transform: scale(0.9);
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color: var(--light-color);
}

.featured .featured-slider  .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider  .box:hover{
    border: var(--border-hover);
}

.featured .featured-slider  .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #0c1011 30%,rgb(17, 16, 18) 30.1%);
}

.featured .featured-slider  .box .image img{
    height: 25rem;
    width: 15rem;
}

.featured .featured-slider  .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    background: #0c1011;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background-color: var(--green);
    color: #0c1011;
}

.featured .featured-slider .box .content{
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem ;
    color: var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem ;
    color: var(--black);
    padding-top:1rem;
    margin-bottom: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem ;
    color: var(--light-color);
    padding-top: 1rem;
    text-decoration: line-through;
}

.newsletter{
    background: url(../img/letter.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: 0.7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: 0.5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height: 15rem;
    width: 8rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color: var(--green);
}

.footer .container{
	max-width: 1170px;
	margin:auto;
}
.footer .container .row{
	display: flex;
	flex-wrap: wrap;
}
.footer .container .row .footer-col ul{
	list-style: none;
}
.footer{
	background-color: #0c1011;
    padding: 70px 0 25px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--green);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-col .social-links a i{
    font-size: larger;
}

.copy-right{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.copy-right p{
    margin-top: 3rem;
    color: #bbbbbb;
    font-size: 15px;
}